<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>hieudn.accountControllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>hieudn.accountControllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>hieudn.accountControllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>hieudn.accountControllers.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>hieudn.accountControllers.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>hieudn.accountControllers.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToolMainController</servlet-name>
        <servlet-class>hieudn.toolcontrollers.ToolMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToolSearchController</servlet-name>
        <servlet-class>hieudn.toolcontrollers.ToolSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController1</servlet-name>
        <servlet-class>hieudn.accountControllers.RegisterController1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>hieudn.accountControllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToolDeleteController</servlet-name>
        <servlet-class>hieudn.toolcontrollers.ToolDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToolEditController</servlet-name>
        <servlet-class>hieudn.toolcontrollers.ToolEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToolUpdateController</servlet-name>
        <servlet-class>hieudn.toolcontrollers.ToolUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToolRegisterController</servlet-name>
        <servlet-class>hieudn.toolcontrollers.ToolRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeSearchController</servlet-name>
        <servlet-class>hieudn.takecontrollers.TakeSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeMainController</servlet-name>
        <servlet-class>hieudn.takecontrollers.TakeMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeDeleteController</servlet-name>
        <servlet-class>hieudn.takecontrollers.TakeDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeRegisterController</servlet-name>
        <servlet-class>hieudn.takecontrollers.TakeRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeEditController</servlet-name>
        <servlet-class>hieudn.takecontrollers.TakeEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeUpdateController</servlet-name>
        <servlet-class>hieudn.takecontrollers.TakeUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>hieudn.accountControllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart1SearchController</servlet-name>
        <servlet-class>hieudn.cart1controllers.Cart1SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart1MainController</servlet-name>
        <servlet-class>hieudn.cart1controllers.Cart1MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart1AddController</servlet-name>
        <servlet-class>hieudn.cart1controllers.Cart1AddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart1Search1Controller</servlet-name>
        <servlet-class>hieudn.cart1controllers.Cart1Search1Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart1DeleteController</servlet-name>
        <servlet-class>hieudn.cart1controllers.Cart1DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart1EditController</servlet-name>
        <servlet-class>hieudn.cart1controllers.Cart1EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart1UpdateController</servlet-name>
        <servlet-class>hieudn.cart1controllers.Cart1UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart1InsertController</servlet-name>
        <servlet-class>hieudn.cart1controllers.Cart1InsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart2MainController</servlet-name>
        <servlet-class>hieudn.cart2controllers.Cart2MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart2SearchController</servlet-name>
        <servlet-class>hieudn.cart2controllers.Cart2SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart2AddController</servlet-name>
        <servlet-class>hieudn.cart2controllers.Cart2AddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart2Search1Controller</servlet-name>
        <servlet-class>hieudn.cart2controllers.Cart2Search1Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart2DeleteController</servlet-name>
        <servlet-class>hieudn.cart2controllers.Cart2DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart2InsertController</servlet-name>
        <servlet-class>hieudn.cart2controllers.Cart2InsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart2Delete1Controller</servlet-name>
        <servlet-class>hieudn.cart2controllers.Cart2Delete1Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart1Delete1Controller</servlet-name>
        <servlet-class>hieudn.cart1controllers.Cart1Delete1Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CasterMainController</servlet-name>
        <servlet-class>hieudn.castercontrollers.CasterMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CasterSearchController</servlet-name>
        <servlet-class>hieudn.castercontrollers.CasterSearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/EditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToolMainController</servlet-name>
        <url-pattern>/ToolMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToolSearchController</servlet-name>
        <url-pattern>/ToolSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController1</servlet-name>
        <url-pattern>/RegisterController1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToolDeleteController</servlet-name>
        <url-pattern>/ToolDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToolEditController</servlet-name>
        <url-pattern>/ToolEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToolUpdateController</servlet-name>
        <url-pattern>/ToolUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToolRegisterController</servlet-name>
        <url-pattern>/ToolRegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeSearchController</servlet-name>
        <url-pattern>/TakeSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeMainController</servlet-name>
        <url-pattern>/TakeMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeDeleteController</servlet-name>
        <url-pattern>/TakeDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeRegisterController</servlet-name>
        <url-pattern>/TakeRegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeEditController</servlet-name>
        <url-pattern>/TakeEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeUpdateController</servlet-name>
        <url-pattern>/TakeUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart1SearchController</servlet-name>
        <url-pattern>/Cart1SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart1MainController</servlet-name>
        <url-pattern>/Cart1MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart1AddController</servlet-name>
        <url-pattern>/Cart1AddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart1Search1Controller</servlet-name>
        <url-pattern>/Cart1Search1Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart1DeleteController</servlet-name>
        <url-pattern>/Cart1DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart1EditController</servlet-name>
        <url-pattern>/Cart1EditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart1UpdateController</servlet-name>
        <url-pattern>/Cart1UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart1InsertController</servlet-name>
        <url-pattern>/Cart1InsertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart2MainController</servlet-name>
        <url-pattern>/Cart2MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart2SearchController</servlet-name>
        <url-pattern>/Cart2SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart2AddController</servlet-name>
        <url-pattern>/Cart2AddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart2Search1Controller</servlet-name>
        <url-pattern>/Cart2Search1Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart2DeleteController</servlet-name>
        <url-pattern>/Cart2DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart2InsertController</servlet-name>
        <url-pattern>/Cart2InsertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart2Delete1Controller</servlet-name>
        <url-pattern>/Cart2Delete1Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart1Delete1Controller</servlet-name>
        <url-pattern>/Cart1Delete1Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CasterMainController</servlet-name>
        <url-pattern>/CasterMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CasterSearchController</servlet-name>
        <url-pattern>/CasterSearchController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
